<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\Program Files\Java\microsoft-jdk-17.0.17.10\bin\java.exe"
                  arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\app.jar&quot;"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
    </httpPlatform>
  </system.webServer>
</configuration>
